main{
    font-size: 16px;
    font-family: agency fb;
    margin-left: 50px;
    margin-right: 100px;
}
h1{
    text-align: Center;
    font-family: arial narrow;
    color: blue;
    margin-bottom: 5px;
}
h2 {
    text-align: center;
    color: red;
}

h4 {
    color: red;
}
    
   
ul{ 
    text-indent: 10px;
    font-size: 15px;
    font-family: agency fb;
    margin-bottom: 10px;
    margin-top: 10px;
    font-style: italic;
   }
.image{width: 200px;
       margin-top: 10px;
       margin-right: 10px;
       float: left;
}
      
     